.footer{
    width: 100%;
    display: flex;
    padding: 5%;
    align-items: center;
    box-sizing: border-box;
    justify-content: space-between;
    background-size: cover;
    background-position: center;
    color: #ffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    
    
    
}

.footer img{
    
    
    padding: 0px 15px;
}
